/**
 * Site header
 */
.site-header {
  border-top: none;
  border-bottom: none;
  min-height: 60px;
  background-color: #00ba94;

  // Positioning context for the mobile navigation icon
  position: relative;
}

.site-title {
  font-size: 36px;
  font-weight: 300;
  line-height: 56px;
  letter-spacing: -1px;
  margin-bottom: 0;
  float: left;
  color: #333333;

  &,
  &:visited {
    color: #333333;
  }
}

/**
 * Navbar
 */

.navbar { 
  background-color: #00ba94;
  padding-top: 15px;
  padding-bottom: 15px;
  border: 2px solid $grey-color-light;
  border-radius: 0;
  margin-bottom: 0;
  
}

.navbar-nav li a:hover {
  color: $background-color !important;
}

.page-link {
    color: $background-color !important;
    margin-right: 20px;
  }


  @include media-query($on-palm) {
    position: absolute;
    top: 9px;
    right: $spacing-unit / 2;
    background-color: $background-color;
    border: 1px solid $grey-color-light;
    border-radius: 5px;
    text-align: right;
  }
 
/**
 * Site footer
 */
.site-footer {
  border-top: 2px solid $grey-color-light;
  padding: $spacing-unit 0;
}

.footer-heading {
  font-size: 18px;
  margin-bottom: $spacing-unit / 2;
  color: #999999;
}

.contact-list,
.social-media-list {
  list-style: none;
  margin-left: 0;
  color: #999999;
}

.footer-col-wrapper {
  font-size: 15px;
  margin-left: -$spacing-unit / 2;
  // added !optional to %clearfix, seemed to fix issue with site colours
  @extend %clearfix !optional;
}

.footer-col {
  float: left;
  margin-bottom: $spacing-unit / 2;
  padding-left: $spacing-unit / 2;
}

.footer-col-1 {
  width: -webkit-calc(35% - (#{$spacing-unit} / 2));
  width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
  width: -webkit-calc(20% - (#{$spacing-unit} / 2));
  width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
  width: -webkit-calc(45% - (#{$spacing-unit} / 2));
  width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
  .footer-col-1,
  .footer-col-2 {
    width: -webkit-calc(50% - (#{$spacing-unit} / 2));
    width:         calc(50% - (#{$spacing-unit} / 2));
  }

  .footer-col-3 {
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width:         calc(100% - (#{$spacing-unit} / 2));
  }
}

@include media-query($on-palm) {
  .footer-col {
    float: none;
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width:         calc(100% - (#{$spacing-unit} / 2));
  }
}

/**
 * Page content
 */
.page-content {
  padding: $spacing-unit 0;
  
}

.page-heading {
  font-size: 24px;
}

.post-list {
  margin-left: 0;
  list-style: none;
  

  > li {
    margin-bottom: $spacing-unit;
    text-align: centre;
  }
  > ul {
    display: inline-block;
  }
}

.post-meta {
  font-size: $small-font-size;
  color: $grey-color;
}

.post-link {
  display: block; 
  font-size: 22px;


  &,
  &:visited {
    color: #00ba94;
  }
}

.site-sidebar {
  display: block;
  font-size: 14px;
  text-align: left;
 
  &,
  &:visited {
    color: #00ba94;
  }
}

/**
 * Posts
 */
.post-header {
  margin-bottom: $spacing-unit;
}

.post-title {
  font-size: 36px;
  letter-spacing: -1px;
  line-height: 1;

  @include media-query($on-laptop) {
    font-size: 36px;
  }
}

.post-content {
  margin-bottom: $spacing-unit;

  h2 {
    font-size: 32px;

    @include media-query($on-laptop) {
      font-size: 28px;
    }
  }

  h3 {
    font-size: 26px;
    text-align: justify;

    @include media-query($on-laptop) {
      font-size: 22px;
    }
  }

  h4 {
    font-size: 20px;

    @include media-query($on-laptop) {
      font-size: 18px;
    }
  }
}

