---
layout: default
---
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
    
<div class="home">
  <h2 class="page-heading"><a href="https://www.shegoesplaces.co.uk/travels/" title="Travels">Travels</a></h2>
  <h2 class="page-heading"><a href="https://www.shegoesplaces.co.uk/running/" title="Running">Running</a></h2>
  <p></p>
  
  <div class="container">
  <div class="row">
    <div class="col-md-4">
      <div class="thumbnail">
        <a href="https://www.shegoesplaces.co.uk/NewZealand/" target="_blank">
          <img src="{{ site.baseurl }}/assets/front-page/abeltasman.jpg" alt="Abel Tasman" style="width:100%">
        </a>
      </div>
    </div>

  <div class="col-md-4">
      <div class="thumbnail">
        <a href="https://www.shegoesplaces.co.uk/_pages/2016-12-03-australian-east-coast.html/" target="_blank">
            <img src="{{ site.baseurl }}/assets/front-page/abeltasman.jpg" alt="Abel Tasman" style="width:100%">
            </a>
      </div>
    </div>
  
  <div class="col-md-4">
      <div class="thumbnail">
        <a href="https://www.shegoesplaces.co.uk/AWanderThroughWellington" target="_blank">
          <img src="{{ site.baseurl }}/assets/front-page/abeltasmankayak.jpg" alt="Kayaking Abel Tasman" style="width:100%">
        </a>
      </div>
    </div>
  </div>
 
 <p align="JUSTIFY">&nbsp;</p>
 <p align="JUSTIFY">&nbsp;</p>
 <p align="JUSTIFY">&nbsp;</p>
 <p align="JUSTIFY">&nbsp;</p>
 <p align="JUSTIFY">&nbsp;</p>
 <p align="JUSTIFY">&nbsp;</p>
 <p align="JUSTIFY">&nbsp;</p>
 <p align="JUSTIFY">&nbsp;</p>
 <p align="JUSTIFY">&nbsp;</p>
 <p align="JUSTIFY">&nbsp;</p>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>
</div>

